<mdb-carousel class="carousel slide carousel-fade" id="about" [animation]="'fade'" >
    <mdb-carousel-item>
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/background/code.jpg" alt="First slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Web Development</h3>
        <ul class="capability">
            <li>Design client-side and server-side architecture</li>
            <li>Development in React, Angular, Node.js,and more </li>
            <li>Application deployment on AWS and other cloud services</li>
            <li>Participate in CI/CD development environment using Agile to develop, unit test, and deploy</li>
        </ul>
        <a mdbBtn color="secondary" mdbWavesEffect href="/projects#web">
            <mdb-icon fas icon="clone" class="left"></mdb-icon>View projects
          </a>
            <!-- A strong sense of ownership and responsibility for code quality that follows best practices
            A strong passion for learning and adapting to new technologies
            Ability to think critically and independent. -->
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/background/media.jpg" alt="Second slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Mobile Development</h3>
        <ul class="capability">
            <li>Design, implement and maintain mobile applications using REST web services</li> 
            <li>Develop and manage well-functioning databases and applications</li>
            <li>Create use cases and develop functional documentation for projects and system enhancements included detailed training materials</li>
        </ul>
        <a mdbBtn color="success" mdbWavesEffect href="/projects#mobile">
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View projects
        </a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view">
        <img class="d-block w-100" src="../../assets/img/background/office.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Data analysis</h3>
        <ul class="capability">
            <li>Use strong Python coding skills to research, design, develop and expand upon algorithms that will train neural networks to deliver actionable intelligence faster and more effectively</li>
            <li>Develop deep-learning software prototypes that demonstrate potential usefulness</li>
            <li>Analyze data from disparate sources including images, video, signals and more</li>
        </ul>
        <a mdbBtn color="pink" mdbWavesEffect href="projects#machine-learning">
          <mdb-icon fas icon="clone" class="left"></mdb-icon>View projects
        </a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

<div class="profile-container">
    <div id="about-me" class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4 w3-animate-right wow animated bounce">About me</h1>
        <img class="profile" src="../../assets/img/profile/me2.jpg" alt="picture of me">
        <h5 class="animated fadeIn mb-3">
            September, 2014, after I got a bachalor degree in Chemical Engineering, 
            I joined the Chemistry PhD program at Temple University, seeking to uncover 
            opportunities in chemistry research that have the potential to make significant impact in real life.
            However, as the power and beauty of technogies brought to life by computer science rapidly unfold, I found that 
            my battleground lies in computer and information science, where there are numerous opportunities for innovations
            and lastest technogies can be quickly applied to make the world a better place. I therefore switched my path and
            got a master's degree in Computer Science. 
            <br><br>
            With a strong passion for entrepreneurship, I'm enthusiastic about opportunities in social engineering innovations, 
            that's why I worked on <a href="https://mutualityapp.com/" style="color:rgb(50, 94, 114)">Mutuality</a>, 
            a social network platform that strives to help people to make effective, healthy, and inspiring social connections with
            others and together build a happier and more hamonious society. However, due to limitations of the current visa I'm holding, entrepreneurship
            is highly unlikely an option. Although I enjoy the supportive and friendly startup culture in Philadelphia, I have to invest my time elsewhere.
            I worked at the Sbarro Institute for Cancer Research and Molecular Medicine at Temple University on data mining, web development and linux server maintenance,
            until I found a front end engineer position at SES Networks, a world-leading satellite operator in Manassas, Virginia, a place where I have the 
            opportunities to take on more challenging projects.
        </h5>
    </div>
</div>