<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/img/background/code.jpg" alt="First slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Web Development</h3>
        <ul class="capability">
            <li>Responsive and adaptive design</li>
            <li>Development in React.js, AngularJS, Node.js,and more </li>
            <li>Application deployment on Amazon Web Services and Heroku</li>
            <li>Algorithm design for optimum performance</li>
        </ul>
        <a href="/projects#web" class="btn btn-outline-white fadeInLeft">View Demos</a>
            <!-- A strong sense of ownership and responsibility for code quality that follows best practices
            A strong passion for learning and adapting to new technologies
            Ability to think critically and independent. -->
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/img/background/laptop.jpg" alt="Second slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Mobile Development</h3>
        <ul class="capability">
            <li>Unit and end-to-end testing</li>
            <li>Database structure design</li> 
            <li>Integrating RESTful service architectures, and Web architecture components</li>
        </ul>
        <a href="/projects#mobile" class="btn btn-outline-white fadeInLeft">View Demos</a>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="../../assets/img/background/computer-1245714.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Data mining and algorithms</h3>
        <ul class="capability">
            <li>Java, JavaScript, Python, C and more</li>
            <li>Data mining and analysis</li>
            <li>Deep, feed-forward artificial neural network</li>
        </ul>
        <a href="projects#machine-learning" class="btn btn-outline-white fadeInLeft">View Projects</a>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>

<div style="height: 100vh">
    <div id="about-me" class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4 w3-animate-right wow animated bounce">About me</h1>
        <h5 class="animated fadeIn mb-3">
            Four years ago, after I got a bachalor degree in Chemical Engineering, 
            I joined the Chemistry PhD program at Temple University, seeking to uncover 
            opportunities in chemistry research that have the potential to make significant impact in real life.
            However, as the power and beauty of technogies brought to life by computer science rapidly unfold, I found that 
            my battleground lies in computer and information science, where there are numerous opportunities for innovations
            and lastest technogies can be quickly applied to make the world a better place. I therefore switched my path and
            got a master's degree in Computer Science. 
            <br><br>
            With a strong passion for entrepreneurship, I'm enthusiastic about opportunities in social engineering innovations, 
            that's why I'm currently working on <a href="https://mutualityapp.com/" style="color:rgb(50, 94, 114)">Mutuality</a>, 
            a social network platform that strives to help people to make effective, healthy, and inspiring social connections with
            others and together build a happier and more hamonious society.
        </h5>
    </div>
</div>