<div class="view front-page">
  <img src="../../assets/img/profile/knowledge_structure.png" alt="">
  <div class="mask waves-light" mdbWavesEffect></div>
</div>

<div class="profile-container">
    <div id="about-me" class="flex-center flex-column">
        <h1 class="animated fadeIn mb-4 w3-animate-right wow animated bounce">About me</h1>
        <img class="profile" src="../../assets/img/profile/me2.jpg" alt="picture of me">
        <h5 class="animated fadeIn mb-3">
            September, 2014, after I got a bachalor degree in Chemical Engineering, 
            I joined the Chemistry PhD program at Temple University, seeking to uncover 
            opportunities in chemistry research that have the potential to make significant impact in real life.
            However, as the power and beauty of technogies brought to life by computer science rapidly unfold, I found that 
            my battleground lies in computer and information science, where there are numerous opportunities for innovations
            and lastest technogies can be quickly applied to make the world a better place. I therefore switched my path and
            got a master's degree in Computer Science. 
            <br><br>
            With a strong passion for entrepreneurship, I'm enthusiastic about opportunities in social engineering innovations, 
            that's why I worked on <a href="https://mutualityapp.com/" style="color:rgb(50, 94, 114)">Mutuality</a>, 
            a social network platform that strives to help people to make effective, healthy, and inspiring social connections with
            others and together build a happier and more hamonious society. However, due to limitations of the current visa I'm holding, entrepreneurship
            is highly unlikely an option. Although I enjoy the supportive and friendly startup culture in Philadelphia, I have to invest my time elsewhere.
            I worked at the Sbarro Institute for Cancer Research and Molecular Medicine at Temple University on data mining, web development and linux server maintenance,
            until I found a front end engineer position at SES Networks, a world-leading satellite operator in Manassas, Virginia, a place where I have the 
            opportunities to take on more challenging projects.
        </h5>
    </div>
</div>