<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo lighten-1" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand ml-4 pl-2" href="/about">Lang Gao</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ml-4">
                <a class="nav-link waves-light" mdbWavesEffect href="#about-me">About<span class="sr-only">(current)</span></a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown ml-4" dropdown>
                <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                Side Projects<span class="caret"></span></a>
                <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect href="/projects#web">Web Development</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="/projects#mobile">Mobile Development</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="/projects#machine-learning">Machine Learning and Big Data</a>
                <a class="dropdown-item waves-light" mdbWavesEffect href="/projects#wearable-systems">Wearable Systems</a>
                </div>
            </li>
            <li class="nav-item ml-4">
                    <a class="nav-link waves-light" mdbWavesEffect href="/resume">Resume</a>
            </li>
            <li class="nav-item ml-4">
                <a class="nav-link waves-light" mdbWavesEffect href="/contact">Contact</a>
            </li>
        </ul>
        <!-- Links -->
    </links>
    <!-- Collapsible content -->

</mdb-navbar>