@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

.carousel-caption{
    font-size: 1.85em;
    padding: 40% 0;
    height: 350px;
    @media only screen and (max-width: 408px){
      padding:6% 0;
      margin: -10% auto;
    }
    .h3-responsive{
      @media only screen and (max-width: 583px){
          padding:0;
          margin-top: 100px;
          position: relative;
      }
  }
  .capability{
      list-style-type: square;
      text-align: left;
      font-family: 'Lora', serif;
  }
  .btn{
      font-size: 1.2rem;
      color:rgb(223, 224, 199);
      &:hover{
          color: rgb(202, 174, 15);
      }
      @media only screen and (max-width: 860px){
          // display:none;
          margin-top: 15px;
          font-size: small;
      }
      @media only screen and (max-width: 400px){
          // display:none;
          // margin-top: 15px;
          font-size: xx-small;
          padding: 7px;
          margin-top:0;
          // padding:10%;
      }
    } 


  .btn-outline-white{
      border: solid white 2px;
      &:hover{
          border: solid rgb(202, 174, 15) 2px;
      }
  }
  @media only screen and (max-width:1336px){
      font-size: 1.2em;
  }
  @media only screen and (max-width:960px){
      font-size: 0.8 em;
  }
  @media only screen and (max-width:408px){
      font-size: x-small;
  }
}

#mobile{
  .info{
    text-align: left;
    border-left: solid rgb(68, 160, 189) 10px;
    background-color:rgba(124, 168, 155, 0.52);
    p{
      padding-left:10px;
    }
    margin-top:20px;
  }
}

.accomplishments-container{
  display:table-cell; 
  vertical-align:middle; 
  top: 50%
}

.accomplishments{
  text-align: left;
}

.mobile-demo{
  width:60%;
  opacity:1
}

.image-container{
  overflow: hidden;
  display:table;
}

#lemon-music{
  .image-container{
    width:42%;
    padding-right: 15px;
    padding-left: 15px;
  }
  .project-content{
    width:58%
  }
}

.section-content{
  margin-bottom: 60px;
}

#wearable-systems{
  display: flex;
  flex-flow: row wrap;
  h2, p{
    flex: 1 100%;
  }

  .row{
    flex: 1 0 0; 
    margin:0;
  }

  .image-container{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  }
}

#wearable{
  overflow:auto;

  .project-content{
    margin-top:-65px;
  }
}

#election, #reasoning{
  margin: 0 4% 20px 4%;
  > * {
    flex: 1 100%;
  }
  display: flex;
  flex-flow: nowrap;
  div{
    flex: 1 auto;
  }
  .image-container{
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    min-width: 45%;
  }
}

#election, #reasoning{
  .project-content{
    width:50%;
  }
  .image-container{
    width:50%;
  }
}

#reasoning{
  .project-content{
    order:1;
  }
  .image-container{
    order:2;
  }
}

@media only screen and (max-width:900px){
  #project{
    display: none;
  }
}

@media only screen and (max-width:767px){
  .col-10{
    max-width: 100%;
  }
  #lemon-music{
    display: flex;
    > * {
      flex: 1 100%;
    }
    .image-container{
      img{
        margin:auto;
      }
    }

    .project-content{
      .col-md-11{
        margin:auto;
      }
    }
  }

  #election, #reasoning, #wearable, #mci{
    display: flex;
    flex-flow: row wrap;
    > * {
      flex: 1 100%;
    }
    .project-content, .image-container{
      width:100%;
    }
  }

  #wearable-systems{
    .row{
      flex: none;
    }
  }

  #reasoning{
    .project-content{
      order:2;
    }
    .image-container{
      order:1;
    }
  }
}