<mdb-carousel class="carousel slide carousel-fade" id="project" [animation]="'fade'">
  <mdb-carousel-item *ngFor="let intro of introduction">
    <div class="view">
      <video class="video-fluid" autoplay loop disablePictureInPicture>
        <source src="../../assets/videos/{{intro.backgroundVideo}}" type="video/mp4" />
      </video>
      <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">{{intro.header}}</h3>
      <ul class="capability" *ngFor="let capability of intro.capabilities">
        <li>{{capability}}</li>
      </ul>
      <a mdbBtn color="secondary" mdbWavesEffect href={{intro.URL}}>
        <mdb-icon fas icon="clone" class="left"></mdb-icon>View projects
      </a>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

<section id={{topic.id}} class="text-center my-5" *ngFor="let topic of topics;let i = index">
  <h2 class="h1-responsive font-weight-bold my-5">{{topic.name}}</h2>
  <p class="grey-text w-responsive mx-auto mb-5">{{topic.greeting}}</p>
  <div *ngIf="topic.name === 'Web Development Demos'; else otherTopics" class="section-content">
    <mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
      [animation]="'slide'">
      <mdb-carousel-item *ngFor="let item of slides; let i = index">
        <div class="col-md-6 pb-2" [ngClass]="{'d-none d-md-block': cardIndex !== 0}"
          *ngFor="let card of item; let cardIndex = index">
          <mdb-card cascade="true">
            <div>
              <div class="view view-cascade overlay waves-light" mdbWavesEffect>

                <!--Video source-->
                <video class="video-fluid" autoplay loop *ngIf="!card.source_is_image">
                  <source src={{card.source}} type="video/mp4" />
                </video>
                <img *ngIf="card.source_is_image" class="video-fluid" src={{card.source}} alt={{card.title}}>
                <a href={{card.link}} target="_blank">
                  <div class="mask rgba-white-slight" mdbWavesEffect></div>
                </a>
              </div>

              <mdb-card-body>
                <a href="" [ngClass]="card.icon_color">
                  <h5 class="font-weight-bold mt-2 mb-3"><i class="fa pr-2" [ngClass]="card.icon"></i>{{card.category}}
                  </h5>
                </a>
                <h4 class="font-weight-bold mb-3">{{card.title}}</h4>
                <p class="grey-text">Tech Stack: {{card.tech_stack}}</p>
                <h4 class="pt-2 pb-2">{{card.intro}}</h4>
                <ul class="accomplishments">
                  <li innerHTML={{features.feature}} *ngFor="let features of card.description"></li>
                </ul>
              </mdb-card-body>

              <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <a class="btn btn-success btn-rounded btn-md waves-light" href={{card.preview_link}}
                  target="_blank">{{card.try}}</a>
                <a class="btn btn-primary btn-rounded btn-md" href={{card.source_link}}
                  target="_blank">{{card.view}}</a>
              </div>

            </div>
          </mdb-card>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>

  <ng-template #otherTopics>
    <div class="row d-flex justify-content-center" *ngFor="let project of topic.projects">
      <!-- <div class="mb-lg-0 mb-5" [ngClass]="topic.id === 'mobile'? 'col-lg-5':'col-lg-6'"> -->
      <div id={{project.id}} class="row rounded " [ngClass]="{'table-cell col-md-6 col-xl-5': topic.id=='wearable-systems'}">
        <div class="view rounded image-container overlay">
          <img src="./../../assets/img/projects/{{project.img}}" alt="Sample project image"
            class="img-fluid rounded z-depth-1" [ngClass]="{'mobile-demo': project.name === 'Lemon Music'}">
          <div class="mask waves-light" mdbWavesEffect></div>
        </div>

        <div class="project-content">
          <!-- Grid row -->
          <div class="mb-3  mt-5">
            <div class="col-md-11 col-10">
              <div class="row justify-content-center" *ngIf="project.name === 'Lemon Music'">              
                <i class="fa fa-music fa-2x cyan-text"></i>
                <h5 class="font-weight-bold mb-3"> &nbsp; {{project.name}}</h5>
              </div>
              <p class="grey-text">{{project.description}}</p>
              <br>

              <h4 class="font-weight-bold my-3">{{project.title}}</h4>
              <p class="grey-text text-left">{{project.abstract}}</p>

              <div class="accomplishments-container" *ngIf="!!project.achievements">
                <ul class="accomplishments" *ngFor="let achievement of project.achievements">
                  <li innerHTML={{achievement}}></li>
                </ul>
              </div>
              <a class="btn btn-info btn-rounded btn-md" *ngIf="!!project.previewURL" href={{project.previewURL}}
                target="_blank">Online preview</a>
              <a class="btn btn-primary btn-rounded btn-md" *ngIf="!!project.sourceCodeURL"
                href={{project.sourceCodeURL}} target="_blank">View source code</a>
              <a class="btn btn-primary btn-rounded btn-md" *ngIf="!!project.report"
                href="../../assets/pdf/{{project.report}}" target="_blank">View project report</a>
            </div>
            <div class="info" *ngIf="!!project.note">
              <p><strong>Note</strong> <br> {{project.note}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <hr class="my-5" *ngIf="i!=topics.length-1">
</section>
