<main>
  <section class="resume-section p-lg-5 d-flex d-column ml-5 mr-5" id="about">
    <div class="my-auto">
      <h4 class="mb-0">Lang (Jacob)
        <span class="text-primary">&nbsp; Gao</span>
      </h4>
      <div class="subheading mb-5">Manassas · VA 20110 · (267) 804-1875 ·
        <a href="mailto:langfr.gao@gmail.com">langfr.gao@gmail.com</a>
      </div>
      <p class="mb-5 summary">{{summary}}</p>
      <ul class="list-inline list-social-icons mb-0" *ngFor="let socialNetwork of socialNetworks">
        <li class="list-inline-item">
          <a href={{socialNetwork.link}} target="_blank">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fab fa-stack-1x fa-inverse" [ngClass]="socialNetwork.icon"></i>
            </span>
          </a>
        </li>
      </ul>

      <p class="mt-4" style="font-style: italic; font-weight:550">View resume as one page <a style="color: #33b5e5"
          target="_blank" href="../../assets/pdf/Jacob Gao.pdf">PDF document</a></p>
    </div>
  </section>

  <section class="resume-section p-lg-5 d-flex flex-column ml-5 mr-5" id="education">
    <div class="my-auto">
      <h3 class="mb-5">Education</h3>
      <div class="resume-item d-flex flex-column flex-md-row mb-5" *ngFor="let item of education">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">{{item.university}}</h4>
          <div class="subheading mb-3" style="text-transform:initial">{{item.degree}}</div>
          <p>{{item.subject}}</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{item.period}}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="resume-section p-lg-5 d-flex flex-column ml-5 mr-5" id="skills">
    <h3 class="mb-5">Skills</h3>
    <div class="my-auto" *ngFor="let skill of skills">
      <div class="subheading mb-3">{{skill.category}}</div>
      <ul class="list-inline list-icons" *ngFor="let icon of skill.icons">
        <li class="list-inline-item">
          <i [ngClass]="icon"></i>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-lg-5 d-flex flex-column ml-5 mr-5" id="experience" style="height:auto">
    <div class="my-auto">
      <h3 class="mb-5">Experience</h3>
      <div class="resume-item d-flex flex-column flex-md-row mb-5" *ngFor="let item of experience">
        <div class="resume-content mr-auto">
          <h4 class="mb-0">{{item.title}}</h4>
          <div class="subheading mb-3">{{item.company}}, {{item.location}}</div>
          <ul *ngFor="let responsibility of item.responsibilities">
            <li>
              <p>{{responsibility}}</p>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{item.period}}</span>
        </div>
      </div>
    </div>
  </section>

  <section class="resume-section p-lg-5 d-flex flex-column ml-5 mr-5" id="projects" style="height:auto">
    <div class="my-auto">
      <h3 class="mb-5">Side Projects</h3>
      <div class="resume-item d-flex flex-column flex-md-row" *ngFor="let project of sideProjects">
        <div class="resume-content mr-auto">
          <h4 class="mb-0"><a href="projects#{{project.tag}}">{{project.name}}</a></h4>
          <div *ngIf="project.description.length>0" class="subheading mb-3" style="text-transform:initial">
            {{project.description}}</div>
          <ul *ngFor="let achievement of project.achievements">
            <li>
              <p>{{achievement}}</p>
            </li>
          </ul>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">{{project.date}}</span>
        </div>
      </div>
      <a class="btn btn-info btn-rounded btn-md" href="projects.html">View More ...</a>
    </div>

  </section>

  <section class="resume-section p-lg-5 d-flex flex-column ml-5 mr-5" id="publications">
    <div class="my-auto">
      <h3 class="mb-5">Publications</h3>
      <ul *ngFor="let paper of publications">
        <li>
          <h5>
            <a href="paper.link" target="_blank">
              {{paper.title}}
            </a>
          </h5>
          <p>
            {{paper.authors}}
            <a href={{paper.journalLink}} target="_blank">{{paper.journalName}}</a>
            {{paper.publishYear}} -
            <a
              href={{paper.databaseLink}} target="_blank">{{paper.database}}
            </a> 
          </p>
        </li>
      </ul>
    </div>
  </section>

</main>
