@import 'https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css';
body{
    position: relative;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5
  {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
  }
  
  h1 {
    font-size: 5rem;
    line-height: 4.5rem;
    @media only screen  and (max-width:470px){
      font-size: 3.8rem;
      line-height: 3rem;
    }
  }
  
  h2 {
    font-size: 3.5rem;
    @media only screen  and (max-width:470px){
      font-size: 2.5rem;
    }
  }
  
  .subheading {
    // text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
    // @media only screen  and (max-width:470px){
    //   font-size: 1rem;
    // }
  }
  
  .list-social-icons a {
    color: #495057;
  }
  
  .list-social-icons a:hover {
    color: #BD5D38;
  }
  
  .list-social-icons a .fa-lg {
    font-size: 1.75rem;
  }
  
  .list-icons {
    font-size: 4rem;
  }
  
  .list-icons .list-inline-item i:hover {
    color: #BD5D38;
  }
  
  section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
  }
  
  section.resume-section .resume-item .resume-date {
    min-width: none;
  }
  
  @media (min-width: 768px) {
    section.resume-section {
      min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
      min-width: 18rem;
    }
  }
  
  @media (min-width: 992px) {
    section.resume-section {
      padding-top: 3rem !important;
      padding-bottom: 3rem !important;
    }
  }
  
  .bg-primary {
    background-color: #BD5D38 !important;
  }
  
  .text-primary {
    color: #BD5D38 !important;
  }
  
  .resume-section a {
    color: rgb(119, 91, 80);
  }
  
  .resume-section a:hover, a:focus, a:active {
    color: #aa5232;
  }
  
  main{
    padding-left:10%;
    @media only screen  and (max-width:522px){
      padding:0;
    }
  }

  p{
    font-size: 1.2em;
  }

  .summary{
    font-style: italic;
  }
  