// /* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    margin:0;
    padding:0;
    border:0;
}
// .navbar-color{
//     /* background-color:#263238; */
//     background-color: transparent;
// }

// #home{
//     font-family: 'Ubuntu', sans-serif;
//     font-size: 20px;
//     // background-color: transparent;
//     opacity: 0.8;
// }
// /* #mainNav{
//     background:white;
//     opacity:1;
// } */

// .nav-item{
//     padding: 5px 12px;
// }

// .show > .btn-primary.dropdown-toggle {
//     color: #fff;
//     background-color: #576d855d;
//     border-color: #426386;
//   }
  
// .dropdown-item.active, .dropdown-item:active {
//     color: #fff;
//     text-decoration: none;
//     background-color: #4b5c5e8a;
// }

// .navbar .dropdown-menu a{
//     font-weight:400 !important;
// }

// #narbar-content{
//     font-size: 40px;
//     text-align:right;
//     float:right;
// }
// .nav-link{
//     font-weight: bold;
// }

// #index-navbar{
//     position:fixed;
// }


// #basicExampleNav{
//     font-weight: 400;
// }

// @media (min-width: 1200px) {
//     .container {
//       max-width: 2160px;
//     }
//   }

// @media (min-width: 400px) {
//     .container {
//       max-width: 2160px;
//     }
//   }

// #home-intro-1 {
//     // position: absolute;
//     height: 100vh;
//     width:100%;
//     background: url("./assets/img/background/computer-1245714.jpg") no-repeat center center;
//     background-size: cover;
//     z-index: 1;
// }
// #home-intro-1 li{
//     display: block;
//     float: center;
// }
// #home-intro-2 {
//     // position: absolute;
//     height: 100vh;
//     padding: 0 0;
//     width:100%;
//     background: url("./assets/img/background/laptop.jpg") no-repeat center center;
//     background-size: cover;
//     z-index: 2;

// }
// #home-intro-2 li{
//     display: block;
//     float: center;
// }
// #home-intro-3 {
//     // position: absolute;
//     height: 100vh;
//     padding: 0 0;
//     width:100%;
//     background: url("./assets/img/background/media.jpg") no-repeat center center;
//     background-size: cover;
//     z-index: 3;

// }
// #home-intro-3 li{
//     display: block;
//     float: center;
// }


// .videoContainer {
//     position: relative;
//     width: 100%;
//     height: 100vh;
//     /* background-attachment: scroll; */
//     overflow: hidden;
// }
// .videoContainer video {
//     min-width: 100%;
//     min-height: 100%;
//     z-index: 1;
// }

// .videoContainer .video-overlay {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0px;
//     left: 0px;
//     z-index: 2;
//     background: rgb(4, 7, 6);
//     opacity: 0.5;
// }

// .btn .fa {
//     margin-left: 3px;
// }
// h6 {
//     line-height: 1.7;
// }
// .hm-gradient .full-bg-img {
//     background: -moz-linear-gradient(45deg, rgba(58, 45, 155, 0.6), rgba(29, 210, 177, 0.6) 100%);
//     background: -webkit-linear-gradient(45deg, rgba(44, 32, 138, 0.6), rgba(29, 210, 177, 0.6) 100%);
//     background: -webkit-gradient(linear, 45deg, from(rgba(42, 27, 161, 0.6)), to(rgba(29, 210, 177, 0.6)));
//     background: -o-linear-gradient(45deg, rgba(38, 28, 117, 0.6), rgba(29, 210, 177, 0.6) 100%);
//     background: linear-gradient(to 45deg, rgba(77, 64, 168, 0.6), rgba(29, 210, 177, 0.6) 100%);
// }
// /* @media (max-width: 450px) {
//     .margins {
//         margin-right: 1rem;
//         margin-left: 1rem;
//     }
// } */
// @media (max-width: 740px) {
//     .full-height,
//     .full-height body,
//     .full-height header,
//     .full-height header .view {
//         height: 1040px;
//     }
// }
// section{
//     height: 100vh;
// }
// #homepage{
//     height:100%;
// }

// #home-image-small{
//     position: relative;
//     padding:10px 0;
//     max-width: 400px;
// }
// .small-image{
//     max-height:300px;
//     max-width:400px;
// }

// .dropdown-menu{
//     display:none;
// }

// .dropdown:hover .dropdown-menu {display: block;}
// .dropdown-primary{
//     background-color: rgb(180, 174, 172);
// }



// .projects{
//     /* background-color: #5d6140; */
//     background: linear-gradient(to right, #1e1f1d 0%, #5d6140 100%);

// }

// .capabilities{
//     padding-left: 0;
//     align-content: flex-start;
// }

// .capability{
//     padding-left:5px;
//     text-align:left !important;
//     font-size:20px;
// }

// .contact{
//     padding-left:120px;
// }
// /* .footer-align{
//     align: center;
// } */

// #message{
//     width:50%;
//     margin:auto;
// }

// #about-me{
//     width: 75%;
//     margin:auto;
// }

// #about-me h1{
//     font-family: 'Raleway', sans-serif;
//     align-content: justify;
// }
// #about-me h5{
//     font-size: 1.5em;
//     font-family: 'Raleway', sans-serif;
//     align-content: justify;
// }

// .page-footer{
//     margin-top: 0p;
// }

// #videos{
//     position:absolute;
// }
// .projects-intro{
//     position:absolute;
//     z-index:10;
//     width:100%;
//     margin:0;
//     height:100%;
// }

// .slide{
//     position:relative;
// }

// #mobile, #web, #research{
//     height:auto;
// }

// .table-cell{
//     display:table-cell;
// }

// .image-container{
//     float:left;
//     overflow:hidden;
//     text-align:center;
//     display:table;
//     height:100%;
// }

// .research-description{
//     position:relative;
//     top:20px;
// }

// /* #resume-navbar{
//     display: block !important;
// } */

// .contact-top{
//     cursor: pointer;
//     height: 15px;
//     width: 15px;
//     margin: 0 2px;
//     background-color: #bbb;
//     border-radius: 50%;
//     display: inline-block;
//     transition: background-color 0.6s ease;
// }

// .active, .contact-info:hover {
//     background-color: #717171;
//   }



// @media only screen and (max-width: 992px) {
//     /* For mobile phones: */
//     .col-12 {
//         width: 100%;
//     }
// }

// .default-text {
//     color: #2BBBAD; }

// .info-text {
//     color: #33b5e5; }

// #stonie{
//     line-height: 1.2rem;
//     text-align:left; 
//     display:table-cell; 
//     vertical-align:middle; 
//     top: 50%
// }

// .accomplishments{
//     font-family: 'Comfortaa', cursive;
// }

// .carousel-item{
//     min-height:100vh;
//     margin-top:15px;
// }

// .project-slide{
//     margin-top:20px;
// }

// .btn-floating{
//     min-width: 100px;;
//     display:table;
// }

// .inline{
//     display:inline;
// }

// .arrow{
//     width:2.4rem;
//     height:2.4rem;
//     border-radius: 50%;
//     background-color: rgb(128, 63, 122);
//     vertical-align: center;
//     display: table-cell;
//     vertical-align: middle;
//     text-align: center;
// }

// .page-footer.fa{
//     color:white;
// }

// .direction{
//     font-size: 1.3rem;
//     font-weight: 600;
//     color:rgb(136, 170, 12);
//     /* text-shadow:5px 7px 2px #ad3eada1; */
// }

// .carousel .carousel-indicators li{
//     width:1.5rem;
//     height:1.5rem;
//     background-color:rgb(111, 169, 187);

// }

// .carousel-indicators{
//     vertical-align: middle;
//     margin-left: 0;
//     margin-right: 0;
//     min-width:300px;
//     text-align: center;
// }

// .carousel-indicators .active{
//     width:2.1rem !important;
//     height:2.1rem !important;
//     background-color:rgb(80, 87, 185) !important;
// }

// @media only screen and (min-width: 991px){
//     .ecomerce-1{
//         margin-left:40px;
//     }
//     .ecomerce-2{
//         margin-right:40px
//     }
// }

// .ecomerce-1, .ecomerce-2{
//     margin-right: 60px;
// }

// #home-image-mobile{
//     height:500px;
//     width:500px;
// }

// .info {
//     background-color: #e7f3fe;
//     border-left: 6px solid #2196F3;
//     font-style: italic;
//     margin-top: 20px;
//     margin-right: 30px;
// }

// strong{
//     font-weight: 900 !important;
// }