#web{
    div.controls-top{
        display:table;
        margin: 0 auto;
        border-spacing: 20px;
        .btn-floating{
            width:2.4rem;
            height:2.4rem;
            border-radius: 50%;
            background-color: rgb(128, 63, 122);
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

    }

    mdb-carousel{
        .carousel-indicators{
            vertical-align: middle;
            margin-left: 0;
            margin-right: 0;
            min-width:300px;
            text-align: center;
            li{
                width:1.5rem;
                height:1.5rem;
                background-color:rgb(111, 169, 187);
            }
            .active{
                width:2.1rem !important;
                height:2.1rem !important;
                background-color:rgb(80, 87, 185) !important;
            }
            padding-top:400px;
        }
    }
}



  
