.img-container {
  position: relative;

  h2 {
    position: absolute;
    top: 5%;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-weight: bolder;
  }

  img {
    width: 100%;
    max-height: 800px;
    object-fit: cover;
  }
}
